<!DOCTYPE html>
<html lang="es">
<head>
	<meta character="UTF-8">
	<meta name="google-site-verification" content="OncNDekTrZmPaLFMSbZJKKzS8viibrW2hu3UxJv4iqI" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
	<script src="js/Global.js"></script>
	<link rel="stylesheet" type="text/css" href="css/estilos.css" media="all">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
	</script>
	<![endif]-->
	<title>Inicio</title>
</head>
<body>
<header class="main-header">
	<div class="main-header-bg"></div>
	<div class="m2--l--container">
		<div class="header__logo">
			<a href="" title="ByteNet">			
				<img src="img/bytenet_logo_blanco.png" alt="ByteNet Logo">			
				<span class="header__logo-title"></span>
			</a>
		</div>
		<div class="menu-movil">
			<span class="linea-menu"></span>
			<span class="linea-menu"></span>
			<span class="linea-menu"></span>
		</div>
		<div class="menu">
			<nav class="main-menu">
					<ul>
						<li><a href="index.html" class="is-selected">Home</a></li>
						<li><a href="proceso.html" class>Proceso</a></li>
						<li><a href="idea.html" class>Contacto</a></li>
					</ul>
			</nav>			
		</div>		
	</div>
</header>
<section class="menu-vertical">
	<nav class="lista-menu">
		<a href="index.html" class="item-menu">Home</a>
		<a href="proceso.html" class="item-menu">Proceso</a>
		<a href="idea.html" class="item-menu">Contacto</a>
	</nav>
	<footer>
		<div class="item-copyright">
			<h4>© 2016 ByteNet.</h4>
			<h4>Todos los derechos reservados.</h4>
		</div>
		<div class="item-contacto">
			<div class="emails">
				<h4>E-MAILS</h4>
				<a href="mailto:ventas@bytenetlab.com.mx">ventas@bytenetlab.com.mx</a>
				<a href="mailto:trabajo@bytenetlab.com.mx">trabajo@bytenetlab.com.mx</a>
			</div>
			<div class="telefonos">
				<h4>TEL&Eacute;FONOS</h4>
				<a href="tel:+52(55)32304454">+52(55) 3230-4454</a>				
			</div>
		</div>
		<div class="item-redes-sociales">
			<h4>S&Iacute;GUENOS EN:</h4>
			<!--<a href="https://www.facebook.com/MLSDev" title="Facebook" target="_blank" class="facebook-link"></a>
			<a href="https://twitter.com/MLSDevCom" title="Twitter" target="_blank" class="twitter-link"></a>
			<a href="https://www.linkedin.com/company/mlsdev" title="LinkedIn" target="_blank" class="linkedin-link"></a>
			<a href="https://plus.google.com/u/0/117561677351053481936" title="Google Plus" target="_blank" class="google-link"></a>
			<a href="https://dribbble.com/mlsdev" title="Dribbble" target="_blank" class="dribbble-link"></a>
			<a href="https://www.behance.net/mlsdev" title="Behance" target="_blank" class="behance-link"></a>
			<a href="https://github.com/MLSDev" title="Github" target="_blank" class="github-link"></a>
			<a href="https://www.youtube.com/channel/UC3iwfhbc4whBaw2svPcznPA" title="Youtube" target="_blank" class="youtube-link"></a>
			<a href="http://feeds.feedburner.com/mlsdev" title="RSS" target="_blank" class="rss-link"></a> -->
			<a href="" title="Facebook" target="_blank" class="facebook-link"></a>
			<a href="" title="Twitter" target="_blank" class="twitter-link"></a>
			<a href="" title="LinkedIn" target="_blank" class="linkedin-link"></a>
			<a href="" title="Google Plus" target="_blank" class="google-link"></a>
			<!--a href="" title="Dribbble" target="_blank" class="dribbble-link"></a>
			<a href="" title="Behance" target="_blank" class="behance-link"></a>
			<a href="" title="Github" target="_blank" class="github-link"></a>
			<a href="" title="Youtube" target="_blank" class="youtube-link"></a>
			<a href="" title="RSS" target="_blank" class="rss-link"></a-->
		</div>
	</footer>
</section>
<section class="l-padding-bottom">
	<div id="js-home-hero" class="hero js-home-hero" >
		<div class="hero__video">
			<video loop="loop" preload="auto" autoplay="autoplay" class="js-hero-video">				
				<source src="videos/landing.webm" type="video/webm">
				<source src="http://mlsdev.com/videos/landing.mp4" type="video/mp4">
			</video>
		</div>
		<div class="hero__content">
			<div class="hero__title">
				<h1>Dise&ntilde;o y creaci&oacute;n de sistemas de TI. A la medida de tu negocio, de clase empresarial.</h1>
			</div>
			<div class="hero__text">
				<div id="btnQuieroApp">
					<span>&iquest;Quieres integrar la tecnolog&iacute;a para administrar mejor tu negocio?</span>
				</div>								
			</div>						
			<div class="hero__cta">
				<h2>Dise&ntilde;amos y creamos sistemas de TI modernos, enfocados a las necesidades particulares de tu modelo de negocio. A diferencia de los paquetes creados para que tu modelo se ajuste a ellos, nosotros entendemos tus ideas <br> y creamos sistemas que hacen lo que has visualizado para tu negocio.</h2>
			</div>			
			<div class="scroll">
				<div class="circle"></div>
				<div class="circle" id="second"></div>
				<div class="circle" id="third"></div>
			</div>			
		</div>
	</div>
	<script>		
		var h = Math.min(2000, window.innerHeight);		
		var el = document.getElementById("js-home-hero").style.height = h + "px";		
	</script>
</section>
<section class="info-section">
	<div class="container">
		<h2>NUESTRAS ESPECIALIDADES</h2>
		<div class="grid-card-wrap">
			<div class="grid-card">				
				<img src="img/promo_7.jpg" alt="R-Style Lab" class="grid-card-bg">				
				<div class="grid-card-title">
					<strong>Desarrollo de Sistemas a la Medida</strong>
					<span class="icono">[==]</span>									
				</div>
				<p class="ver-mas">Saber m&aacute;s</p>
				<br>							
				<p>Eres empresario y has identificado que tener la informaci&oacute;n disponible al momento es vital para tomar las mejores decisiones. Nos encargamos de escuchar y entender tu modelo de negocio para materializarlo de forma tecnol&oacute;gica y tengas la informaci&oacute;n de tu negocio al momento que la necesites. Ejemplos:<br>Inventarios, lista de clientes as&iacute; como historiales de ventas y tendencias, cat&aacute;logos virtuales, control de ventas/compras, lista de proovedores, etc.</p>
			</div>
			<div class="grid-card">
				<img src="img/promo_2.jpg" alt="R-Style Lab" class="grid-card-bg">				
				<div class="grid-card-title">
					<strong>Desarrollo de Aplicaciones M&oacute;viles</strong>
					<span class="icono">[==]</span>
				</div>
				<p class="ver-mas">Saber m&aacute;s</p>
				<br>
				<p>Lleva tu sistema al mundo m&oacute;vil (tel&eacute;fonos inteligentes y tabletas electr&oacute;nicas), consiguiendo una mayor exposici&oacute;n y teniendo un mayor alcance de tus clientes.</p>
			</div>
			<div class="grid-card">
				<img src="img/promo_3.jpg" alt="R-Style Lab" class="grid-card-bg">				
				<div class="grid-card-title">
					<strong>Dise&ntilde;o de Interfaces Modernas y Eficientes</strong>
					<span class="icono">[==]</span>
				</div>
				<p class="ver-mas">Saber m&aacute;s</p>
				<br>
				<p>Llevamos el concepto de tu negocio al mundo digital, realizando interfaces modernas, intuitivas y agradables a la vista; logrando que tus clientes te identifiquen plenamente en internet y quieran saber sobre los productos o servicios que ofreces.</p>			
			</div>
			<div class="grid-card">
				<img src="img/promo_4.jpg" alt="R-Style Lab" class="grid-card-bg">				
				<div class="grid-card-title">
					<strong>Administraci&oacute;n de Redes Empresariales</strong>
					<span class="icono">[==]</span>
				</div>
				<p class="ver-mas">Saber m&aacute;s</p>
				<br>
				<p>El internet es lento en tu oficina, la productividad es poca (redes sociales, youtube, p&aacute;ginas distractoras). Con nuestro sistema puede asegurar el acceso y garantizar la conectividad de cada uno de sus empleados y si cuentas con m&uacute;ltiples oficinas, podr&aacute;s conectarlas y compartir informaci&oacute;n entre ellas de manera eficiente y segura.</p>			
			</div>
			<div class="grid-card">
				<img src="img/promo_4.jpg" alt="R-Style Lab" class="grid-card-bg">				
				<div class="grid-card-title">
					<strong>F&aacute;brica de Componentes de Software</strong>
					<span class="icono">[==]</span>
				</div>
				<p class="ver-mas">Saber m&aacute;s</p>
				<br>
				<p>Desarrollamos componentes front-end y back-end espec&iacute;ficos creados en lenguajes robustos, seguros y modernos. Nuestro objetivo es que puedas agregar nuevas funciones al sistema que ya tienes en operaci&oacute;n.</p>			
			</div>
			<div class="grid-card">
				<img src="img/promo_1.jpg" alt="R-Style Lab" class="grid-card-bg">				
				<div class="grid-card-title">
					<strong>Actualizaci&oacute;n y mejora de Sistemas</strong>
					<span class="icono">[==]</span>
				</div>
				<p class="ver-mas">Saber m&aacute;s</p>
				<br>
				<p>Cuentas con un sistema y solo puedes acceder desde la pc donde est&aacute; instalado, tienes que pagar una licencia por cada equipo que lo use, solo hay acceso dentro de la red de tu oficina. Nos
				   encargamos de migrarlo de forma segura a la web, tendr&aacute;s acceso desde cualquier dispositivo que cuente con internet, solo podr&aacute; usarlo personal autorizado y tendr&aacute;s control de los movimientos realizados.
			</div>
		</div>
	</div>	
</section>
<section class="tecno-section">
	<div class="container">
		<h2>LO QUE USAMOS PARA HACER TUS IDEAS REALIDAD</h2>
		<div class="chart-container">
			<chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
				<circle cx="140" cy="140" r="138" class="back-circle"></circle>
				<circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
				<text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Tecnolog&iacute;as</text>
				</svg>
				<div class="skills">Java<br>.Net<br>PHP<br>Python</div>
			</chart>
			<chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
				<circle cx="140" cy="140" r="138" class="back-circle"></circle>
				<circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
				<text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">M&oacute;viles</text>
				</svg>
				<div class="skills">iOS<br>Android</div>
			</chart>
			<chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
				<circle cx="140" cy="140" r="138" class="back-circle"></circle>
				<circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
				<text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Dise&ntilde;o Web</text>
				</svg>
				<div class="skills">HTML5<br>CSS3<br>JavaScript<br>AngularJS</div>
			</chart>
			<chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
				<circle cx="140" cy="140" r="138" class="back-circle"></circle>
				<circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
				<text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Consultor&iacute;a</text>
				</svg>
				<div class="skills">Specs<br>Wireframes<br>Prototipos</div>
			</chart>
			<chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
				<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
				<circle cx="140" cy="140" r="138" class="back-circle"></circle>
				<circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
				<text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Redes</text>
				</svg>
				<div class="skills">Pfsense<br>Squid<br>Squidguard</div>
			</chart>			
		</div>		
	</div>
</section>
<section class="contact-section">
	<div class="nav">
		<div class="nuestro-proceso">
			<a href="proceso.html">
				<h2>Conoce como trabajamos</h2>	
			</a>
		</div>		
	</div>
	<div class="nav">
		<div class="contacto">
			<a href="idea.html">
				<h2>Cu&eacute;ntanos tu idea</h2>	
			</a>
		</div>		
	</div>	
</section>
<footer class="main-footer">
	<div class="item item-copyright">
			<h4>© 2016 ByteNet.</h4>
			<h4>Todos los derechos reservados.</h4>
			<p>Llevando la tecnolog&iacute;a al alcance de tu negocio.</p>
	</div>
	<div class="item item-contacto">
		<div class="emails">
			<h4>E-MAILS</h4>
			<a href="mailto:abaez@bytenetlab.com.mx">abaez@bytenetlab.com.mx</a>
			<!--a href="mailto:trabajo@hssoluciones.com">trabajo@bytenetlab.com</a-->
		</div>
		<div class="telefonos">
			<h4>TEL&Eacute;FONOS</h4>
			<a href="tel:+52(55)73955314<">+52(55) 7395-5314</a>			
		</div>
	</div>
	<div class="item item-redes-sociales">
		<h4>S&Iacute;GUENOS EN:</h4>
		<a href="https://www.facebook.com/MLSDev" title="Facebook" target="_blank" class="facebook-link"></a>
		<a href="https://twitter.com/MLSDevCom" title="Twitter" target="_blank" class="twitter-link"></a>
		<a href="https://www.linkedin.com/company/mlsdev" title="LinkedIn" target="_blank" class="linkedin-link"></a>
		<a href="https://plus.google.com/u/0/117561677351053481936" title="Google Plus" target="_blank" class="google-link"></a>
		<!--a href="https://dribbble.com/mlsdev" title="Dribbble" target="_blank" class="dribbble-link"></a>
		<a href="https://www.behance.net/mlsdev" title="Behance" target="_blank" class="behance-link"></a>
		<a href="https://github.com/MLSDev" title="Github" target="_blank" class="github-link"></a>
		<a href="https://www.youtube.com/channel/UC3iwfhbc4whBaw2svPcznPA" title="Youtube" target="_blank" class="youtube-link"></a>
		<a href="http://feeds.feedburner.com/mlsdev" title="RSS" target="_blank" class="rss-link"></a-->
	</div>
</footer>
</body>
</html>