<main>    
    <section class="l-padding-bottom">
        <div id="js-home-hero" class="hero js-home-hero" >
            <div class="hero__video">
                <video loop="loop" preload="auto" autoplay="autoplay" class="js-hero-video">				
                    <source src="videos/landing.webm" type="video/webm">
                    <source src="http://mlsdev.com/videos/landing.mp4" type="video/mp4">
                </video>
            </div>
            <div class="hero__content">
                <div class="hero__title">
                    <h1>{{ 'HOME.SECCION-INTRO.TITULO' | translate }}</h1>
                </div>
                <div class="hero__text">
                    <div id="btnQuieroApp">
                        <span> {{ 'HOME.SECCION-INTRO.BOTON' | translate }}</span>
                    </div>								
                </div>						
                <div class="hero__cta">
                    <h2>Dise&ntilde;amos y creamos sistemas de TI modernos, enfocados a las necesidades particulares de tu modelo de negocio. A diferencia de los paquetes creados para que tu modelo se ajuste a ellos, nosotros entendemos tus ideas <br> y creamos sistemas que hacen lo que has visualizado para tu negocio.</h2>
                </div>			
                <div class="scroll">
                    <div class="circle"></div>
                    <div class="circle" id="second"></div>
                    <div class="circle" id="third"></div>
                </div>			
            </div>
        </div>
    </section>
    <section class="info-section">
        <div class="container">
            <h2>NUESTRAS ESPECIALIDADES</h2>
            <div class="grid-card-wrap">
                <div class="grid-card">				
                    <img src="img/promo_7.jpg" alt="R-Style Lab" class="grid-card-bg">				
                    <div class="grid-card-title">
                        <strong>Desarrollo de Sistemas a la Medida</strong>
                        <span class="icono">[==]</span>									
                    </div>
                    <p class="ver-mas">Saber m&aacute;s</p>
                    <br>							
                    <p>Eres empresario y has identificado que tener la informaci&oacute;n disponible al momento es vital para tomar las mejores decisiones. Nos encargamos de escuchar y entender tu modelo de negocio para materializarlo de forma tecnol&oacute;gica y tengas la informaci&oacute;n de tu negocio al momento que la necesites. Ejemplos:<br>Inventarios, lista de clientes as&iacute; como historiales de ventas y tendencias, cat&aacute;logos virtuales, control de ventas/compras, lista de proovedores, etc.</p>
                </div>
                <div class="grid-card">
                    <img src="img/promo_2.jpg" alt="R-Style Lab" class="grid-card-bg">				
                    <div class="grid-card-title">
                        <strong>Desarrollo de Aplicaciones M&oacute;viles</strong>
                        <span class="icono">[==]</span>
                    </div>
                    <p class="ver-mas">Saber m&aacute;s</p>
                    <br>
                    <p>Lleva tu sistema al mundo m&oacute;vil (tel&eacute;fonos inteligentes y tabletas electr&oacute;nicas), consiguiendo una mayor exposici&oacute;n y teniendo un mayor alcance de tus clientes.</p>
                </div>
                <div class="grid-card">
                    <img src="img/promo_3.jpg" alt="R-Style Lab" class="grid-card-bg">				
                    <div class="grid-card-title">
                        <strong>Dise&ntilde;o de Interfaces Modernas y Eficientes</strong>
                        <span class="icono">[==]</span>
                    </div>
                    <p class="ver-mas">Saber m&aacute;s</p>
                    <br>
                    <p>Llevamos el concepto de tu negocio al mundo digital, realizando interfaces modernas, intuitivas y agradables a la vista; logrando que tus clientes te identifiquen plenamente en internet y quieran saber sobre los productos o servicios que ofreces.</p>			
                </div>
                <div class="grid-card">
                    <img src="img/promo_4.jpg" alt="R-Style Lab" class="grid-card-bg">				
                    <div class="grid-card-title">
                        <strong>Administraci&oacute;n de Redes Empresariales</strong>
                        <span class="icono">[==]</span>
                    </div>
                    <p class="ver-mas">Saber m&aacute;s</p>
                    <br>
                    <p>El internet es lento en tu oficina, la productividad es poca (redes sociales, youtube, p&aacute;ginas distractoras). Con nuestro sistema puede asegurar el acceso y garantizar la conectividad de cada uno de sus empleados y si cuentas con m&uacute;ltiples oficinas, podr&aacute;s conectarlas y compartir informaci&oacute;n entre ellas de manera eficiente y segura.</p>			
                </div>
                <div class="grid-card">
                    <img src="img/promo_4.jpg" alt="R-Style Lab" class="grid-card-bg">				
                    <div class="grid-card-title">
                        <strong>F&aacute;brica de Componentes de Software</strong>
                        <span class="icono">[==]</span>
                    </div>
                    <p class="ver-mas">Saber m&aacute;s</p>
                    <br>
                    <p>Desarrollamos componentes front-end y back-end espec&iacute;ficos creados en lenguajes robustos, seguros y modernos. Nuestro objetivo es que puedas agregar nuevas funciones al sistema que ya tienes en operaci&oacute;n.</p>			
                </div>
                <div class="grid-card">
                    <img src="img/promo_1.jpg" alt="R-Style Lab" class="grid-card-bg">				
                    <div class="grid-card-title">
                        <strong>Actualizaci&oacute;n y mejora de Sistemas</strong>
                        <span class="icono">[==]</span>
                    </div>
                    <p class="ver-mas">Saber m&aacute;s</p>
                    <br>
                    <p>Cuentas con un sistema y solo puedes acceder desde la pc donde est&aacute; instalado, tienes que pagar una licencia por cada equipo que lo use, solo hay acceso dentro de la red de tu oficina. Nos
                       encargamos de migrarlo de forma segura a la web, tendr&aacute;s acceso desde cualquier dispositivo que cuente con internet, solo podr&aacute; usarlo personal autorizado y tendr&aacute;s control de los movimientos realizados.
                </div>
            </div>
        </div>	
    </section>
    <section class="tecno-section">
        <div class="container">
            <h2>LO QUE USAMOS PARA HACER TUS IDEAS REALIDAD</h2>
            <div class="chart-container">
                <chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
                    <circle cx="140" cy="140" r="138" class="back-circle"></circle>
                    <circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
                    <text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Tecnolog&iacute;as</text>
                    </svg>
                    <div class="skills">Java<br>.Net<br>PHP<br>Python</div>
                </chart>
                <chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
                    <circle cx="140" cy="140" r="138" class="back-circle"></circle>
                    <circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
                    <text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">M&oacute;viles</text>
                    </svg>
                    <div class="skills">iOS<br>Android</div>
                </chart>
                <chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
                    <circle cx="140" cy="140" r="138" class="back-circle"></circle>
                    <circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
                    <text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Dise&ntilde;o Web</text>
                    </svg>
                    <div class="skills">HTML5<br>CSS3<br>JavaScript<br>AngularJS</div>
                </chart>
                <chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
                    <circle cx="140" cy="140" r="138" class="back-circle"></circle>
                    <circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
                    <text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Consultor&iacute;a</text>
                    </svg>
                    <div class="skills">Specs<br>Wireframes<br>Prototipos</div>
                </chart>
                <chart ng-repeat="percent in percents" data="percent" class="ng-scope ng-isolate-scope">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="280px" height="280px" viewBox="0 0 280 280" enable-background="new 0 0 280 280" xml:space="preserve">
                    <circle cx="140" cy="140" r="138" class="back-circle"></circle>
                    <circle cx="140" cy="140" r="138" transform="rotate(-89 140 140)" ng-style="chart()" class="front-circle" style="stroke-dashoffset: 0;"></circle>				
                    <text x="140" y="150" font-family="'GothamPro', sans-serif" font-size="28" fill="#fff" font-weight="300" text-transform="uppercase" text-anchor="middle" ng-bind="data.name" class="chart_text title">Redes</text>
                    </svg>
                    <div class="skills">Pfsense<br>Squid<br>Squidguard</div>
                </chart>			
            </div>		
        </div>
    </section>
    <section class="contact-section">
        <div class="nav">
            <div class="nuestro-proceso">
                <a ui-sref="proceso" ng-click="cambiaEstilo('estilo_proceso.css')">
                    <h2>Conoce como trabajamos</h2>	
                </a>
            </div>		
        </div>
        <div class="nav">
            <div class="contacto">
                <a ui-sref="contacto" ng-click="cambiaEstilo('idea.css')">
                    <h2>Cu&eacute;ntanos tu idea</h2>	
                </a>
            </div>		
        </div>	
    </section>
</main>